*{
  padding:0px;
  margin:0px;
}

html body{
  height:100vh;
  background-image: url('../images/ban_may/canhdong.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}
.game {
  height: 100%;
  position: relative;
}

.div-menu {
  height: 50px;
  font-size: 30px;
  padding-top: 10px;
  overflow-y: hidden;
}

.div-may {
  position: absolute;
  left: 500px;
  top: 250px;
  width: 120px;
  height: 80px;
  background-image: url("../images/ban_may/may.png");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  display: none;
}

.div-may p {
  margin-top: 30px;
  display:inline-block;
  font-size: 23px;
}

.heart {
  width: 8%;
}

.darwin-img {
  width: 13%;
  position: fixed;
  bottom: 0;
  animation: jump 1s ease-out infinite;
  animation-direction: alternate;
}

.gameover {
  width: 500px;
  height: 370px;
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  position: relative;
  margin: calc( ( 100vh - 400px ) /2 ) auto;
  text-align: justify;
  animation: huong_dan 1s ease-out ;
}

.gameover .content {
  margin: auto;
  text-align: center;
  height: 50%;
  font-size: 50px;
}

@keyframes jump {
  from {bottom: 0px;}
  to {bottom: 30px;}
}