*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url('../images/loai_cau/bgk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sriracha', cursive;
    overflow: hidden;
}
.gioi_thieu{
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('../images/homepage/black.png');
    top:0px;
    right:0px;
}
.huong_dan{
    width: 400px;
    height: 300px;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    margin: calc( ( 100vh - 350px ) /2 ) auto;
    text-align: justify;
    animation: huong_dan 1.5s ease-out ;
}
.huong_dan{
    text-align: center;
}
@keyframes huong_dan {
    from{top:-50px;opacity: 0;}
    to{top:0px;opacity: 1;}
}
.anh_minh_hoa{
    width: 20%;
    position: relative;
    animation: anh_minh_hoa 0.2s ease-out infinite;
    animation-direction: alternate;
}
@keyframes anh_minh_hoa{
    from{top: 0px;}
    to{top: -10px;}
}

.thu-rung{
    position: absolute;
    left: 50px;
    bottom:100px;
}
.thu-rung img{
    height: 110px;
    margin-left: 20px;
    cursor: pointer;
}
.chim-bay img{
    height: 50px;
    position: relative;
    animation: chimBay 0.5s ease-out infinite;
    animation-direction: alternate;
}
@keyframes chimBay{
    from{top:0px;}
    to{top:10px;}
}
.nicole{
    position: absolute;
    left: 70px;
    bottom:150px;
    z-index: -99;
    width: 150px;
}

.nen-cau-hoi{
    position: absolute;
    background-image: url('../images/lam_van/black.png');
    width: 500px;
    text-align: center;
    top: calc( 100vh - 550px );
    left: calc( 50% - 250px );
    padding: 20px;
    border-radius: 10px;
}
.yeu-cau{
    color:yellow;
    font-size: 20px;
}
.hoi{
    margin-top: 20px;
    color:white;
}
.but1,.but2{
    margin-top:10px ;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Sriracha', cursive;
    cursor: pointer;
}
#ch-7 .nen-cau-hoi{ 
    top:80px !important;
}
#ch-7 .but1, #ch-7 .but2{
    width: 100%;
    height: 70px;
    padding: 10px;
}
#ch-8 .nen-cau-hoi{ 
    top:80px !important;
}
#ch-8 .but1, #ch-8 .but2{
    width: 100%;
    height: 70px;
    padding: 10px;
}
#nicole-vui{
    position: absolute;
    animation: nicoleVui 0.2s ease-out infinite;
    animation-direction: alternate;
}
@keyframes nicoleVui{
    from{bottom:150px;}
    to{bottom:160px}
}
#chien-thang{
    margin:100px auto;
    width: 600px;
    text-align: center;
    padding:30px 10px;
    border-radius: 10px;
    background-image: url('../images/lam_van/black.png');
}
#chien-thang .nicole-gif{
    width: 400px;
}
#chien-thang p{
    color:white;
}
#chien-thang a img{
    height: 50px;
}
.dap-an-sai{
    background-image: url('../images/lam_van/white.png');
    padding: 20px;
    margin: 200px auto;
    width: 500px;
    border-radius: 10px;
}
.chuyen-huong-khi-sai{
    text-align: center;
}
.chuyen-huong-khi-sai a img{
    height: 50px;
}