* {
  padding: 0px;
  margin: 0px;
}

html body {
  height: 100vh;
  background-image: url("../images/qua_song/song.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  overflow: hidden;
}
.game {
  height: 100%;
  position: relative;
}

.dich {
  height: 47%;
  position: relative;
}

.da {
  width: 10%;
  cursor: pointer;
}

.da1 {
  position: fixed;
  left: 10%;
  top: 87%;
}

.da2 {
  position: fixed;
  left: 20%;
  top: 80%;
}

.da3 {
  position: fixed;
  left: 30%;
  top: 75%;
}

.da4 {
  position: fixed;
  left: 45%;
  top: 75%;
}

.da5 {
  position: fixed;
  left: 60%;
  top: 75%;
}

.da6 {
  position: fixed;
  left: 70%;
  top: 65%;
}

.da7 {
  position: fixed;
  left: 80%;
  top: 55%;
}

.da8 {
  position: fixed;
  left: 65%;
  top: 50%;
}

.da9 {
  position: fixed;
  left: 50%;
  top: 47%;
}

.cau-hoi {
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../images/homepage/black.png");
  top: 0px;
  right: 0px;
  display: none;
}

.noi-dung {
  width: 800px;
  height: 500px;
  z-index: 100;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  animation: huong_dan 0.5s ease-out;
}

.nd-cau-hoi {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/homepage/black.png");
  border-radius: 15px;
}

.nd-cau-hoi p {
  color: #fff;
}

.tra-loi {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.dap-an {
  float: left;
  display: flex;
  justify-content: center;
  flex: 1 0 45%;
  background-color: white;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.dap-an:hover {
}

/* .dap-an1 {
  background-color: darkmagenta;
} */

.dap-an2 {
  margin-right: 0;
}

/* .dap-an3 {
  background-color: mediumturquoise;
} */

.dap-an4 {
  margin-right: 0;
}

.nicole {
  width: 8%;
  position: absolute;
  animation: jump_nicole 0.5s ease-out infinite;
  animation-direction: alternate;
}

.darwin {
  width: 11%;
  position: fixed;
  animation: jump_darwin1 1s ease-out infinite;
  animation-direction: alternate;
  left: 10%;
}

.gameover {
  width: 400px;
  height: 250px;
  z-index: 100;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  position: relative;
  margin: calc((100vh - 300px) / 2) auto;
  text-align: justify;
  animation: huong_dan 1s ease-out;
}

.gameover .content {
  margin: auto;
  text-align: center;
  height: 50%;
  font-size: 50px;
}

.gameover .menu {
  height: 50%;
}

@keyframes jump_nicole {
  from {
    bottom: 15px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes jump0 {
  from {
    bottom: 1000px;
  }
  to {
    bottom: 150px;
  }
}

@keyframes jump_darwin1 {
  from {
    bottom: 80px;
  }
  to {
    bottom: 50px;
  }
}
