<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ca dao</title>
    <link rel="stylesheet" href="../../css/ca_dao.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="../../js/cadao.js"></script>
  </head>
  <body>
    <div class="nut-click">
        <a href="../../index.html"><img src="../../images/homepage/home.png"></a>
        <a href="./caDao1.html"><img src="../../images/homepage/reload.png"></a>
    </div>
    <div class="layer">
      <div class="nd">
        <div class="o-vuong">
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
          <div
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="border-o"
          ></div>
        </div>
        <div class="tu">
          <div class="hang">
            <div
              id="co"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Có</span>
            </div>
            <div
              id="ht1"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ná</span>
            </div>
            <div
              id="ht2"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Là</span>
            </div>
            <div
              id="ht3"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Nó</span>
            </div>
            <div
              id="ht4"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Con</span>
            </div>
            <div
              id="ht5"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ăn</span>
            </div>
            <div
              id="ngay"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ngày</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Cỏ</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Lá</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Uống</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ăn</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Mài</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ngủ</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Rán</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Nắng</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Sắt</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Sương</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Sớm</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Thì</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Là</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Công</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Bị</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Cắt</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Ong</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Kim</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Hoa</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Có</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Vịt</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Con</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Nên</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Nó</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Con</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Mài</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Cây</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Cỏ</span>
            </div>
            <div>
              <img src="../../images/ca_dao/khoai.png" />
              <span>Lá</span>
            </div>
          </div>
        </div>
      </div>
      <div class="nv">
        <div class="text-box">
          <div class="arrow_box">
            <p>
              &emsp;Bằng cách kéo các từ lên những ô bên trên. Bạn tìm và ghép các
              từ trong bảng để tạo thành 1 câu ca dao, thành ngữ, tục ngữ đúng
              nghĩa nhé !
            </p>
          </div>
        </div>
        <div class="penny">
          <img src="../../images/ca_dao/penny_4.png" class="pennySize" />
        </div>
      </div>
    </div>
  </body>
</html>
