<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ca dao</title>
    <link rel="stylesheet" href="../../css/ca_dao.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="../../js/cadao.js"></script>
  </head>
  <body>
    <div class="nut-click">
      <a href="../../index.html"
        ><img src="../../images/homepage/home.png"
      /></a>
      <a href="./caDao3.html"><img src="../../images/homepage/reload.png" /></a>
    </div>
    <div class="chuabai">
      <div class="box">
        <p>
          &emsp;Câu tục ngữ
          <strong>"Tiên học lễ hậu học văn"</strong> có ý nghĩa là trước tiên
          phải học các lễ nghĩ hay chính là cách đối nhân xử thế với những người
          xung quanh. Cách hành xử sao cho đúng chuẩn mực cho phù hợp với thuần
          phong mĩ tục của xã hội. Hậu học văn là các môn học văn hóa, các kiến
          thức mà chúng ta học được trong trường và ngoài xã hội.
        </p>
        <p class="dung">
          &emsp;Wow, bạn thật giỏi, mình đã giấu các từ kĩ thế mà bạn vẫn tìm ra
          được. Hãy thử tìm câu khác nhé !
        </p>
        <div class="sai">
          <p>
            <strong>
              Đáp án của bạn chưa chính xác rồi hãy xem đáp án bên dưới để rút
              kinh nghiệm nhé bạn !
            </strong>
          </p>
          <img src="../../images/ca_dao/cadao3.PNG" />
        </div>
        <div class="penny-vitri">
          <img src="../../images/ca_dao/penny_5.png" class="penny5" />
        </div>
        <div class="ch">
          <a href="../../index.html"
            ><img src="../../images/homepage/home.png"
          /></a>
          <a href="./caDao3.html"
            ><img src="../../images/homepage/reload.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="layer">
      <div class="nd">
        <div class="o-vuong">
          <div
            ondrop="drop(event,'cd1')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd1"
          ></div>
          <div
            ondrop="drop(event,'cd2')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd2"
          ></div>
          <div
            ondrop="drop(event,'cd3')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd3"
          ></div>
          <div
            ondrop="drop(event,'cd4')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd4"
          ></div>
          <div
            ondrop="drop(event,'cd5')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd5"
          ></div>
          <div
            ondrop="drop(event,'cd6')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd6"
          ></div>
          <div>
            <button onclick="ktcadao3()">Kiểm tra</button>
          </div>
        </div>
        <div class="tu">
          <div class="hang">
            <div
              id="khong"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Hạ</span>
            </div>
            <div
              id="ht1"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Thủ</span>
            </div>
            <div
              id="ht2"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cường</span>
            </div>
            <div
              id="ht3"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Đại</span>
            </div>
            <div
              id="ht4"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Săn</span>
            </div>
            <div
              id="tien"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Tiên</span>
            </div>
            <div
              id="thay"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Thầy</span>
            </div>
            <div
              id="ht6"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cỏ</span>
            </div>
            <div
              id="hoc2"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Học</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht8"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Công</span>
            </div>
            <div
              id="ht9"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Bình</span>
            </div>
            <div
              id="le"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Lễ</span>
            </div>
            <div
              id="ht11"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Em</span>
            </div>
            <div
              id="ht12"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Nồng</span>
            </div>
            <div
              id="ht13"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Vàng</span>
            </div>
            <div
              id="ht200"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Giấc</span>
            </div>
            <div
              id="hau"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Hậu</span>
            </div>
            <div
              id="ht15"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Tỉnh</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht16"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Như</span>
            </div>
            <div
              id="ht17"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cha</span>
            </div>
            <div
              id="cong"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Công</span>
            </div>
            <div
              id="ht18"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Bị</span>
            </div>
            <div
              id="ht19"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Đánh</span>
            </div>
            <div
              id="ht20"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Lại</span>
            </div>
            <div
              id="kim"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Kim</span>
            </div>
            <div
              id="hoc"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Học</span>
            </div>
            <div
              id="lam"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ai</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht22"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cây</span>
            </div>
            <div
              id="do"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Trồng</span>
            </div>
            <div
              id="nen"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Kẻ</span>
            </div>
            <div
              id="ht24"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Chạy</span>
            </div>
            <div
              id="ht25"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Bún</span>
            </div>
            <div
              id="mai"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Bò</span>
            </div>
            <div
              id="ht26"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Khô</span>
            </div>
            <div
              id="ht27"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Hoa</span>
            </div>
            <div
              id="van"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Văn</span>
            </div>
          </div>
        </div>
      </div>
      <div class="nv">
        <div class="text-box">
          <div class="arrow_box">
            <p>
              &emsp;Bằng cách kéo các từ lên những ô bên trên. Bạn tìm và ghép
              các từ trong bảng để tạo thành 1 câu ca dao, thành ngữ, tục ngữ
              đúng nghĩa nhé !
            </p>
          </div>
        </div>
        <div class="penny">
          <img src="../../images/ca_dao/penny_4.png" class="pennySize" />
        </div>
      </div>
    </div>
  </body>
  <iframe src="https://www.nhaccuatui.com/mh/background/6ZAkAazYx0Dl" width="1" height="1" frameborder="0" allowfullscreen allow="autoplay"></iframe>
</html>
