<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ca dao</title>
    <link rel="stylesheet" href="../../css/ca_dao.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="../../js/cadao.js"></script>
  </head>
  <body>
    <div class="nut-click">
      <a href="../../index.html"
        ><img src="../../images/homepage/home.png"
      /></a>
      <a href="./caDao1.html"><img src="../../images/homepage/reload.png" /></a>
    </div>
    <div class="chuabai">
      <div class="box">
        <p>
          &emsp;Câu tục ngữ
          <strong>"Có công mài sắt có ngày nên kim"</strong> mang ý nghĩa răn
          dạy, giáo dục chúng ta cần phải nỗ lực, kiên trì và cố gắng không
          ngừng để đạt được ước mơ đó. ... Bởi vậy điều mà chúng ta cần phải có
          chính là bản lĩnh, sự kiên trì và cố gắng không ngừng nghỉ.
        </p>
        <p class="dung">
          &emsp;Wow, bạn thật giỏi, mình đã giấu các từ kĩ thế mà bạn vẫn tìm ra
          được. Hãy thử tìm câu khác nhé !
        </p>
        <div class="sai">
          <p>
            <strong>
              Đáp án của bạn chưa chính xác rồi hãy xem đáp án bên dưới để rút
              kinh nghiệm nhé bạn !
            </strong>
          </p>
          <img src="../../images/ca_dao/chua_ca_dao1.png" />
        </div>
        <div class="penny-vitri">
          <img src="../../images/ca_dao/penny_5.png" class="penny5" />
        </div>
        <div class="ch">
          <a href="../../index.html"
            ><img src="../../images/homepage/home.png"
          /></a>
          <a href="./caDao1.html"
            ><img src="../../images/homepage/reload.png"
          /></a>
          <a href="./caDao2.html"
            ><img src="../../images/homepage/arrowRight.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="layer">
      <div class="nd">
        <div class="o-vuong">
          <div
            ondrop="drop(event,'cd1')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd1"
          ></div>
          <div
            ondrop="drop(event,'cd2')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd2"
          ></div>
          <div
            ondrop="drop(event,'cd3')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd3"
          ></div>
          <div
            ondrop="drop(event,'cd4')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd4"
          ></div>
          <div
            ondrop="drop(event,'cd5')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd5"
          ></div>
          <div
            ondrop="drop(event,'cd6')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd6"
          ></div>
          <div
            ondrop="drop(event,'cd7')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd7"
          ></div>
          <div
            ondrop="drop(event,'cd8')"
            ondragover="allowDrop(event)"
            class="border-o"
            id="cd8"
          ></div>
          <div>
            <button onclick="ktcadao1()">Kiểm tra</button>
          </div>
        </div>
        <div class="tu">
          <div class="hang">
            <div
              id="co"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Có</span>
            </div>
            <div
              id="ht1"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ná</span>
            </div>
            <div
              id="ht2"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Là</span>
            </div>
            <div
              id="ht3"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Nó</span>
            </div>
            <div
              id="ht4"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Con</span>
            </div>
            <div
              id="ht5"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ăn</span>
            </div>
            <div
              id="ngay"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ngày</span>
            </div>
            <div
              id="ht6"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Linh</span>
            </div>
            <div
              id="ht7"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Lá</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht8"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Uống</span>
            </div>
            <div
              id="ht9"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ăn</span>
            </div>
            <div
              id="ht10"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Mày</span>
            </div>
            <div
              id="ht11"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ngủ</span>
            </div>
            <div
              id="ht12"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Rán</span>
            </div>
            <div
              id="ht13"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Nắng</span>
            </div>
            <div
              id="sat"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Sắt</span>
            </div>
            <div
              id="ht14"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Sương</span>
            </div>
            <div
              id="ht15"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Sớm</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht16"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Thì</span>
            </div>
            <div
              id="ht17"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Là</span>
            </div>
            <div
              id="cong"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Công</span>
            </div>
            <div
              id="ht18"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Bị</span>
            </div>
            <div
              id="ht19"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cắt</span>
            </div>
            <div
              id="ht20"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Ong</span>
            </div>
            <div
              id="kim"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Kim</span>
            </div>
            <div
              id="ht21"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Hoa</span>
            </div>
            <div
              id="co2"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Có</span>
            </div>
          </div>
          <!-- ---------------- -->
          <div class="hang">
            <div
              id="ht22"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Vịt</span>
            </div>
            <div
              id="ht23"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Con</span>
            </div>
            <div
              id="nen"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Nên</span>
            </div>
            <div
              id="ht24"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Nó</span>
            </div>
            <div
              id="ht25"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Con</span>
            </div>
            <div
              id="mai"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Mài</span>
            </div>
            <div
              id="ht26"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Cây</span>
            </div>
            <div
              id="ht27"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Gió</span>
            </div>
            <div
              id="ht28"
              draggable="true"
              ondragstart="drag(event)"
              class="dragable"
            >
              <img src="../../images/ca_dao/khoai.png" />
              <span><br /><br />Lá</span>
            </div>
          </div>
        </div>
      </div>
      <div class="nv">
        <div class="text-box">
          <div class="arrow_box">
            <p>
              &emsp;Bằng cách kéo các từ lên những ô bên trên. Bạn tìm và ghép
              các từ trong bảng để tạo thành 1 câu ca dao, thành ngữ, tục ngữ
              đúng nghĩa nhé !
            </p>
          </div>
        </div>
        <div class="penny">
          <img src="../../images/ca_dao/penny_4.png" class="pennySize" />
        </div>
      </div>
    </div>
  </body>
</html>
