<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="../../css/tu_vung.css">
  <link rel="stylesheet" href="../../css/homepage.css">
  <title>Từ vựng cùng Richard</title>
</head>

<body>
  <div class="gioi_thieu">
    <div class="huong_dan">
      <p class="thong_tin">&nbsp Chào mừng các bạn đến với game qua sông. Hãy giúp Richard qua sông bằng cách trả
        lời các câu hỏi về từ vựng ở mỗi viên đá nhé !</p>
      <div class="minh_hoa" style="margin-top: 20px;">
        <img src="../../images/nhan_vat/richard/richard_1.png" class="anh_minh_hoa">
      </div>
    </div>
  </div>
  <div class="game">
    <div class="dich">
      <img src="../../images/nhan_vat/nicole/nicole_4.png" class="nicole" />
      <img src="../../images/homepage/reload.png" style="float:right; cursor: pointer;width: 50px;" alt="Chơi lại"
        onclick="reload()" />
      <img src="../../images/homepage/home.png"
        style="float:right; cursor: pointer;width: 50px; margin-right: 5px;" onclick="back_home()" />
    </div>
    <img src="../../images/qua_song/stone.png" class="da da9" />
    <img src="../../images/qua_song/stone.png" class="da da8" />
    <img src="../../images/qua_song/stone.png" class="da da7" />
    <img src="../../images/qua_song/stone.png" class="da da6" />
    <img src="../../images/qua_song/stone.png" class="da da5" />
    <img src="../../images/qua_song/stone.png" class="da da4" />
    <img src="../../images/qua_song/stone.png" class="da da3" />
    <img src="../../images/qua_song/stone.png" class="da da2" />
    <img src="../../images/qua_song/stone.png" class="da da1" />
    <img src="../../images/nhan_vat/richard/richard_4.png" class="darwin" />
  </div>
  <div class="cau-hoi cau-hoi-1">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>nhảy</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai1">
          A. Danh từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai1">
          B. Tính từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai1">
          C. Trạng từ
        </div>
        <div class="dap-an dap-an4 dap-an-dung1">
          D. Động từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-2">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>bông hoa</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai2">
          A. Động từ
        </div>
        <div class="dap-an dap-an2 dap-an-dung2">
          B. Danh từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai2">
          C. Tính từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai2">
          D. Trạng từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-3">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>
        <p>Từ &nbsp;<i><strong>Đẹp đẽ</strong></i> &nbsp;thuộc loại từ gì ?</p>
        </p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai3">
          A. Động từ
        </div>
        <div class="dap-an dap-an2 dap-an-dung3">
          B. Tính từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai3">
          C. Trạng từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai3">
          D. Danh từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-4">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>chai nước</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai4">
          A. Động từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai4">
          B. Thán từ
        </div>
        <div class="dap-an dap-an3 dap-an-dung4">
          C. Danh từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai4">
          D. Tính từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-5">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>ô hay</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-dung5">
          A. Thán từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai5">
          B. Trợ từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai5">
          C. Đại từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai5">
          D. Danh từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-6">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>hai</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai">
          A. Tính từ
        </div>
        <div class="dap-an dap-an2 dap-an-dung6">
          B. Số từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai6">
          C. Trạng từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai6">
          D. Đại từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-7">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>tôi, bạn</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai7">
          A. Trạng từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai7">
          B. Danh từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai7">
          C. Thán từ
        </div>
        <div class="dap-an dap-an4 dap-an-dung7">
          D. Đại từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-8">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>Bao nhiêu</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-dung8">
          A. Đại từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai8">
          B. Danh từ
        </div>
        <div class="dap-an dap-an3 dap-an-sai8">
          C. Đại từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai8">
          D. Tính từ
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-9">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ &nbsp;<i><strong>nằm</strong></i> &nbsp;thuộc loại từ gì ?</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai9">
          A. Danh từ
        </div>
        <div class="dap-an dap-an2 dap-an-sai9">
          B. Trợ từ
        </div>
        <div class="dap-an dap-an3 dap-an-dung9">
          C. Động từ
        </div>
        <div class="dap-an dap-an4 dap-an-sai9">
          D. Tính từ
        </div>
      </div>
    </div>
  </div>
  <!--Chữa câu sai-->

  <div class="gioi_thieu div_thua1" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>nhảy</strong></i> &nbsp; là một động từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua2" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>bông hoa</strong></i> &nbsp; là một danh từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua3" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>đẹp đẽ</strong></i> &nbsp; là một tính từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua4" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>chai nước</strong></i> &nbsp; là một danh từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua5" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>ô hay</strong></i> &nbsp; là một thán từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua6" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>hai</strong></i> &nbsp; là một số từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua7" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Các từ &nbsp;<i><strong>tôi, bạn</strong></i> &nbsp; là một đại từ
        </p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua8" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>bao nhiêu</strong></i> &nbsp; là một đại từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_thua9" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">THUA !!!</p>
        <p class="cau_sai" style="font-size: 35px;">Từ &nbsp;<i><strong>nằm</strong></i> &nbsp; là một động từ</p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>

  <div class="gioi_thieu div_win" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">CHIẾN THẮNG</p>
        <img src="../../images/nhan_vat/richard/richard_3.png" style="width: 20%;" />
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/homepage/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/homepage/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>
</body>
<script src="../../js/tu_vung.js"></script>
<script>
  function reload() {
    window.location.reload();
  }
  function back_home() {
    window.location.href = "../../index.html";
  }
</script>

</html>