<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="../../css/tu_vung.css">
  <link rel="stylesheet" href="../../css/homepage.css">
  <title>Chọn đoạn văn</title>
</head>

<body>
  <div class="gioi_thieu">
    <div class="huong_dan">
      <p class="thong_tin">&nbsp Chào mừng các bạn đến với game qua sông. Hãy giúp Gumball qua sông bằng cách trả
        lời các câu hỏi về từ vựng ở mỗi viên đá nhé !</p>
      <div class="minh_hoa" style="margin-top: 20px;">
        <img src="../../images/nhan_vat/gumball/gumball_5.png" class="anh_minh_hoa">
      </div>
    </div>
  </div>
  <div class="game">
    <div class="dich">
      <img src="../../images/nhan_vat/nicole/nicole_4.png" class="nicole" />
      <img src="../../images/qua_song/reload.png" style="float:right; cursor: pointer;width: 5%;" alt="Chơi lại"
        onclick="reload()" />
      <img src="../../images/qua_song/home.png"
        style="float:right; cursor: pointer;width: 5%; margin-top: 7px; margin-right: 5px;" onclick="back_home()" />
    </div>
    <div class="div-da da-5">
      <img src="../../images/qua_song/stone.png" class="da" />
    </div>
    <div class="div-da da-4">
      <img src="../../images/qua_song/stone.png" class="da" />
    </div>
    <div class="div-da da-3">
      <img src="../../images/qua_song/stone.png" class="da" />
    </div>
    <div class="div-da da-2">
      <img src="../../images/qua_song/stone.png" class="da" />
    </div>
    <div class="div-da da-1">
      <img src="../../images/qua_song/stone.png" class="da" />
    </div>
    <img src="../../images/nhan_vat/gumball/gumball_1.png" class="darwin" />
  </div>
  <div class="cau-hoi cau-hoi-1">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ đồng nghĩa của Yêu là :</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai1">
          A. Trái
        </div>
        <div class="dap-an dap-an2 dap-an-sai1">
          B. Sống
        </div>
        <div class="dap-an dap-an3 dap-an-sai1">
          C. Én
        </div>
        <div class="dap-an dap-an4 dap-an-dung1">
          D. Thích
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-2">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ đồng nghĩa của Dàn xếp là :</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai2">
          A. Dàn cảnh
        </div>
        <div class="dap-an dap-an2 dap-an-dung2">
          B. Sắp xếp
        </div>
        <div class="dap-an dap-an3 dap-an-sai2">
          C. Xếp đồ
        </div>
        <div class="dap-an dap-an4 dap-an-sai2">
          D. Gỉa thuyết
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-3">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ trái nghĩa của Đứng lên là:</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai3">
          A. Đi lên
        </div>
        <div class="dap-an dap-an2 dap-an-dung3">
          B. Ngồi xuống
        </div>
        <div class="dap-an dap-an3 dap-an-sai3">
          C. Đi đứng
        </div>
        <div class="dap-an dap-an4 dap-an-sai3">
          D. Đứng dậy
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-4">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ trái nghĩa của Nguy hiểm là:</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-sai4">
          A. Vớ vẩn
        </div>
        <div class="dap-an dap-an2 dap-an-sai4">
          B. Hiểm nguy
        </div>
        <div class="dap-an dap-an3 dap-an-dung4">
          C. An toàn
        </div>
        <div class="dap-an dap-an4 dap-an-sai4">
          D. Buồn bã
        </div>
      </div>
    </div>
  </div>
  <div class="cau-hoi cau-hoi-5">
    <div class="noi-dung">
      <div class="nd-cau-hoi">
        <p>Từ đồng nghĩa của Bãi công là :</p>
      </div>
      <div class="tra-loi">
        <div class="dap-an dap-an1 dap-an-dung5">
          A. Đình công
        </div>
        <div class="dap-an dap-an2 dap-an-sai5">
          B. Định đoạt
        </div>
        <div class="dap-an dap-an3 dap-an-sai5">
          C. Đình trệ
        </div>
        <div class="dap-an dap-an4 dap-an-sai5">
          D. Đình chỉ
        </div>
      </div>
    </div>
  </div>
  <div class="gioi_thieu div_gameover" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;"> GAME OVER </p>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/qua_song/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/qua_song/reload.png" style=" cursor: pointer;width: 20%; margin-top: 5px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>
  <div class="gioi_thieu div_win" style="display: none;">
    <div class="gameover">
      <div class="content">
        <p style="margin: 15px;">CHIẾN THẮNG</p>
        <img src="../../images/nhan_vat/gumball/gumball_3.png" style="width: 20%;"/>
      </div>
      <div class="menu" style="text-align: center;">
        <img src="../../images/qua_song/home.png" style="cursor: pointer;width: 20%; margin-right: 25px;"
          onclick="back_home()" />
        <img src="../../images/qua_song/reload.png" style=" cursor: pointer;width: 20%; margin-top: 25px;"
          alt="Chơi lại" onclick="reload()" />
      </div>
    </div>
  </div>
</body>
<script src="../../js/tu_vung.js"></script>
<script>
  function reload() {
    window.location.reload();
  }
  function back_home() {
    window.location.href = "http://vnmlearning.xyz";
  }
</script>

</html>