<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Làm văn với Drawin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/lam_van.css">
    <script src="../../js/lam_van.js"></script>
</head>
<body>
    <div class="gioi_thieu">
        <div class="huong_dan">
          <p class="thong_tin">&nbsp Sắp tới là sinh nhật của mẹ mình rồi nhưng mình vẫn thiếu mất một bông hoa. Các bạn hãy giúp mình hoàn thành bông hoa đó nhé. Hãy trả lời các câu hỏi trong cánh hoa bên trái để hoàn thành bông hoa này nhé!</p>
          <div class="minh_hoa" style="margin-top: 20px;">
            <img src="../../images/lam_van/gioithieu.png" class="anh_minh_hoa">
          </div>
        </div>
    </div>
    <a href="../../index.html" class="ve-trang-chu"><img src="../../images/lam_van/home.png"></a>
    <div id="nen"></div>
    <div class="chien-thang" id="chien-thang">
        <div class="tb-ct">
            <p>Vậy là mình đã có đủ hoa để tặng cho mẹ của mình rồi. Cảm ơn bạn rất nhiều!</p>
            <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
            <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
        </div>
        <img src="../../images/lam_van/drawin-tang-hoa-nicole.png" class="tang-hoa"> 
    </div>
    <div id="drawin">
        <div class="chon-canh-hoa">
            <img src="../../images/lam_van/canhhoa.png" id="ch-1">
            <img src="../../images/lam_van/canhhoa.png" id="ch-2">
            <img src="../../images/lam_van/canhhoa.png" id="ch-3">
            <img src="../../images/lam_van/canhhoa.png" id="ch-4">
            <img src="../../images/lam_van/canhhoa.png" id="ch-5">
            <img src="../../images/lam_van/canhhoa.png" id="ch-6">
        </div>
        <img src="../../images/lam_van/drawin-chon-hoa.png" class="drawin-chon-hoa">
        <div class="bong-hoa">
            <img src="../../images/lam_van/canhhoa.png" class="canh-1">
            <img src="../../images/lam_van/canhhoa.png" class="canh-2">
            <img src="../../images/lam_van/canhhoa.png" class="canh-3">
            <img src="../../images/lam_van/canhhoa.png" class="canh-4">
            <img src="../../images/lam_van/canhhoa.png" class="canh-5">
            <img src="../../images/lam_van/canhhoa.png" class="canh-6">
            <div class="nhi-hoa"></div>
            <img src="../../images/lam_van/nhanh-hoa.png" class="nhanh-hoa">
            <img src="../../images/lam_van/drawin-cam-hoa.png" class="cam-hoa" id="drawinChonHoa">
            <img src="../../images/lam_van/drawinCuoi.png" class="cam-hoa" id="drawinCuoi">
        </div>
    </div>
    <div id="dv1">
        <img src="../../images/lam_van/muadong.jpg" class="anh-doan-van">
        <div class="cau-hoi">
            <div class="doan-van">
                <p>&emsp;Gió mùa đông bắc tràn về cùng với cái lạnh khắc nghiệt và đường phố cũng vắng vẻ hơn thường lệ. Buổi sáng, Mặt Trời lười biếng vẫn còn đang ngủ, không chịu dậy để ban phát những tia nắng ấm áp cho cỏ cây hoa lá. Ra đường, cụ già, trẻ em và cả các thanh niên sung sốc… tất cả đều mặc những chiếc áo len, áo khoác dày, quàng khăn, đội mũ sùm sụp để có thể làm giảm đi cái rét cắt da cắt thịt. Hai hàng bàng ven đường đã trút bỏ bộ cánh già cỗi từ lâu, chỉ còn trơ lại những chiếc cành khẳng khiu nhẫn nại chịu đựng giá rét. Bên đường, hàng phở tấp nập người ra vào, cô bán hàng làm luôn tay, nào lấy bánh, nào chan nước… trông có vẻ rất vui vì bán hàng chạy, các bát phở nóng hổi bốc hơi nghi ngút chờ đợi mọi người thưởng thức. Ai ra về cũng đều rất hài lòng vì được phục vụ chu đáo. Dường như họ đã tạm quên đi cái lạnh giá của mùa đông.</p>
            </div>
            <div class="dap-an">
                <p class="hoi">Đoạn văn bên tả hình ảnh trên đúng hay sai ?</p>
                <div class="hien-thi">
                    <div class="chon-dap-an1" id="dap-an-dung-1"><img src="../../images/lam_van/dung.png" class="img-dap-an"></div>
                    <div class="chon-dap-an2" id="dap-an-sai-1"><img src="../../images/lam_van/sai.png" class="img-dap-an"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dv2">
        <img src="../../images/lam_van/cayphuong.jpg" class="anh-doan-van">
        <div class="cau-hoi">
            <div class="doan-van">
                <p>&emsp;Cây có ba cành lớn, mọc chĩa ra ba phía, tạo thành vòm tán xanh với bao cành lá sum suê. Mùa xuân, lá phượng xanh mơn mởn. Mỗi lá phượng có đến mấy chục tia lá nhỏ và mỏng chia đều  về hai phía cuống lá. Lúc còn non, lá phượng như những chiếc vòi xanh ngọc. Mùa hè, lá phượng xanh rờn, toả mát sân trường. Mùa thi của chúng em đến, phượng nở hoa từng chùm đỏ rực. Nụ phượng chúm chím, to nhỏ khác nhau, như những viên bi hồng, lay động rung rinh. Lớp hoa phượng này tàn thì lớp hoa phượng khác lại nối tiếp. Cứ thế, phượng nở cháy cả mùa hè, gọi đàn ve đến trò chuyện râm ran. Em rất thích ngồi chơi cùng các bạn dưới gốc phượng. Nhìn ngắm cây phượng, hoa phượng lòng em lại rộn lên những kỉ niệm đẹp đẽ của tuổi học trò mộng mơ.</p>
            </div>
            <div class="dap-an">
                <p class="hoi">Đoạn văn bên tả hình ảnh trên đúng hay sai ?</p>
                <div class="hien-thi">
                    <div class="chon-dap-an1" id="dap-an-dung-2"><img src="../../images/lam_van/dung.png" class="img-dap-an"></div>
                    <div class="chon-dap-an2" id="dap-an-sai-2"><img src="../../images/lam_van/sai.png" class="img-dap-an"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dv3">
        <div class="cau-hoi3">
            <p>&emsp;Khoác lên thân hình cao lớn và cân đối của chú là bộ áo lông màu đỏ tía mượt bóng. Trên cái đầu nhỉnh hơn quả chanh là cái mào cờ đỏ thắm như một chiếc vương miện. Đôi mắt vừa bằng hạt đỗ đen lúc nào cũng đưa đi đưa lại như có nước. Dưới đôi chân vàng ươm đã thấy nhú ra đôi cựa sắc nhọn. Đó sẽ là thứ vũ khí lợi hại của chú ta đấy. Mỗi sáng sớm thức dậy chú ta luôn là người đánh thức mọi người dậy bằng điệu gáy ò ó o của mình.</p>
            <p class="hoi3">Đoạn văn trên con vật nào ?</p>
        </div>
        <div class="dap-an3">
            <div class="tra-loi dap-an-sai-3"><img src="../../images/lam_van/conlon.png"></div>
            <div class="tra-loi dap-an-sai-3"><img src="../../images/lam_van/concho.png"></div>
            <div class="tra-loi dap-an-sai-3"><img src="../../images/lam_van/vit.png"></div>
            <div class="tra-loi" id="dap-an-dung-3"><img src="../../images/lam_van/conga.png"></div>
        </div>
    </div>
    <div id="dv4">
        <div class="cau-hoi3">
            <p>&emsp;Mỗi ngày đến lớp, lúc đến giờ chính tả, em lật nhẹ từng trang để khỏi làm đau chị. Em nắn nót viêt từng chữ, từng hàng chữ đều đặn hiện ra trên trang giấy trắng tinh của chị làm chị vui mừng khôn xiết. Về nhà, em đặt chị lên cái bàn sạch bóng trong phòng học. Chị dịu dàng nhìn em cười như muốn cám ơn em. Lúc nào, em cũng có cảm giác như chị đang nói với em: "Hãy cố gắng học thật giỏi bé yêu của chị". Nghe lời chị, em tặng chị thật nhiều điểm mười đỏ chót, chị mừng lắm.</p>
            <p class="hoi3">Đoạn văn trên tả cái gì ?</p>
        </div>
        <div class="dap-an3">
            <div class="tra-loi dap-an-sai-4"><img src="../../images/lam_van/phan_mic_trang.png"></div>
            <div class="tra-loi dap-an-sai-4"><img src="../../images/lam_van/butmuc.png"></div>
            <div class="tra-loi dap-an-sai-4" ><img src="../../images/lam_van/banhoc.png"></div>
            <div class="tra-loi" id="dap-an-dung-4"><img src="../../images/lam_van/quyenvo.png"></div>
        </div>
    </div>
    <div id="dv5">
        <img src="../../images/lam_van/trongtruong.jpg" class="anh-doan-van">
        <div class="hai-doan-van">
            <div class="dv-ta-2" id="dap-an-sai-5">
                &emsp;Dáng chú rất cao, to. Mắt chú tròn như hạt nhãn. Đôi mắt tròn xoe, đen láy, trông rất tinh anh. Cái mũi nhỏ lúc nào cũng ươn ướt, đánh hơi rất thính. Chú canh nhà rất giỏi. Mỗi khi em đi học về, chú thường nhảy rối rít bên em. Em rất yêu quý chú chó này.
            </div>
            <div class="dv-ta-1" id="dap-an-dung-5">
                &emsp;Bên ngoài anh mặc chiếc áo đã sờn màu, đôi chỗ bị xước nữa. Mình anh to tròn, mập mạp rất đáng yêu tưởng như muốn đi đâu anh ta cũng phải lăn trên mặt đất. Thân anh được làm từ nhiều miếng gỗ ghép lại bằng những cái đinh rất to. Hai mặt anh được làm từ da trâu đã thuộc, sờ tay lên thấy sần sùi. Hai vành anh màu xám như hai con rắn nằm bất động nom khá hung dữ. Nằm cạnh anh là bé dùi trông nhỏ nhắn nhưng khi đánh lại vang những tiếng rất dõng dạc. Anh anh là bạn của tất cả học trò. Mỗi buổi sáng, tiếng gọi giục giã của anh báo hiệu cho chúng em xếp hàng vào lớp.
            </div>
        </div>
    </div>
    <div id="dv6">
        <img src="../../images/lam_van/muahe.jpg" class="anh-doan-van">
        <div class="hai-doan-van">
            <div class="dv-ta-1" id="dap-an-sai-6">
                &emsp;Mùa xuân đến, khu vườn khoác lên mình chiếc áo hoa lộng lẫy. Hoa đồng tiền đan thành chuỗi đỏ phía xa, hoa cúc vàng trải thành một vạt nắng, hoa lay-ơn vươn mình thanh cao, trắng muốt,... còn hoa đào rạng rỡ khoe sắc hồng. Cánh hoa đào xinh xinh, mỏng manh, thỉnh thoảng chợt rung rinh nhẹ nhàng khi được gió vuốt ve dịu dàng. Những nụ hoa còn non, khum khum xếp cánh lên nhau nhìn như đang chúm chím cười. Thấp thoáng những bông hoa đã nở, cánh hoa hồng tươi như vừa đón nhận nụ hôn của mặt trời rực rỡ. Nhuỵ hoa là những sợi chỉ mảnh màu hồng nhạt được cánh hoa ôm ấp, chở che. Những chiếc lá non tựa chiếc thuyền câu tô điểm thêm sắc xanh trên nền hồng ấm áp. Hoa đào còn là tiếng gọi vui tươi của ngày Tết, rủ muôn ngàn may mắn đến bên mỗi người!
            </div>
            <div class="dv-ta-2" id="dap-an-dung-6">
                &emsp;Không còn những cơn mưa xuân ấm áp ấy là lúc ta biết nàng Xuân duyên dáng, dịu dàng đã đi qua, thay vào đó là nàng Hạ nhí nhảnh, tươi vui. Hạ đến từ tháng 4 và sẽ nhường chỗ cho nàng Thu qua tháng 6. Mùa hạ về với bầu trời xanh ngắt, những đám mây trắng trong và những tia nắng mặt trời vàng tươi rực rỡ, mang lại nguồn sống dồi dào căng tràn cho muôn loài. Khắp các phố phường, hoa phượng nở đỏ rực, ve kêu râm ran hòa tấu những giai điệu vui tươi, rộn rã. Bức tranh mùa hè thật đẹp và rực rỡ!
            </div>
        </div>
    </div>
    <!-- chữa đoạn văn -->
    <div class="chua-doan-van-sai">
        <div class="doan-van-da-sua" id="dvds1">
            <div class="doan-van-sai">
                <p>&emsp;<i><u><b>Gió mùa đông bắc</b></u></i> tràn về cùng với <i><u><b>cái lạnh khắc nghiệt</b></u></i> và đường phố cũng vắng vẻ hơn thường lệ. Buổi sáng, Mặt Trời lười biếng vẫn còn đang ngủ, không chịu dậy để ban phát những tia nắng ấm áp cho cỏ cây hoa lá. Ra đường, cụ già, trẻ em và cả các thanh niên sung sốc… tất cả đều mặc những <i><u><b>chiếc áo len, áo khoác dày, quàng khăn, đội mũ</b></u></i> sùm sụp để có thể làm giảm đi <i><u><b>cái rét cắt da cắt thịt</b></u></i>. Hai hàng bàng ven đường đã trút bỏ bộ cánh già cỗi từ lâu, chỉ còn trơ lại những chiếc cành khẳng khiu nhẫn nại <i><u><b>chịu đựng giá rét</b></u></i>. Bên đường, hàng phở tấp nập người ra vào, cô bán hàng làm luôn tay, nào lấy bánh, nào chan nước… trông có vẻ rất vui vì bán hàng chạy, các bát phở nóng hổi bốc hơi nghi ngút chờ đợi mọi người thưởng thức. Ai ra về cũng đều rất hài lòng vì được phục vụ chu đáo. Dường như họ đã tạm quên đi <i><u><b>cái lạnh giá của mùa đông</b></u></i>.</p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>cảnh mùa đông</b></p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
        <div class="doan-van-da-sua" id="dvds2">
            <div class="doan-van-sai">
                <p>&emsp;Cây có ba cành lớn, mọc chĩa ra ba phía, tạo thành vòm tán xanh với bao cành lá sum suê. <i><u><b>Mùa xuân, lá phượng</b></u></i> xanh mơn mởn. <i><u><b>Mỗi lá phượng</b></u></i> có đến mấy chục tia lá nhỏ và mỏng chia đều  về hai phía cuống lá. Lúc còn non, lá phượng như những chiếc vòi xanh ngọc. Mùa hè, <i><u><b>lá phượng xanh rờn</b></u></i>, toả mát sân trường. Mùa thi của chúng em đến, <i><u><b>phượng nở hoa</b></u></i> từng chùm đỏ rực. <i><u><b>Nụ phượng chúm chím</b></u></i>, to nhỏ khác nhau, như những viên bi hồng, lay động rung rinh. <i><u><b>Lớp hoa phượng này</b></u></i> tàn thì lớp hoa phượng khác lại nối tiếp. Cứ thế, <i><u><b>phượng nở cháy cả mùa hè</b></u></i>, <i><u><b>gọi đàn ve đến trò chuyện râm ran</b></u></i>. Em rất thích ngồi chơi cùng các bạn dưới <i><u><b>gốc phượng</b></u></i>. <i><u><b>Nhìn ngắm cây phượng</b></u></i>, <i><u><b>hoa phượng</b></u></i> lòng em lại rộn lên những kỉ niệm đẹp đẽ của tuổi học trò mộng mơ. </p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>cảnh đoàn thuyền ra khơi</b></p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
        <div class="doan-van-da-sua" id="dvds3">
            <div class="doan-van-sai">
                <p>&emsp;Khoác lên thân hình cao lớn và cân đối của chú là bộ áo <u><i><b>lông màu đỏ tía mượt bóng</b></i></u>. Trên cái đầu nhỉnh hơn quả chanh là cái <u><i><b>mào cờ đỏ</b></i></u> thắm như một chiếc vương miện. Đôi mắt vừa bằng hạt đỗ đen lúc nào cũng đưa đi đưa lại như có nước. Dưới đôi chân vàng ươm đã thấy nhú ra <u><i><b>đôi cựa sắc nhọn</b></i></u>. Đó sẽ là thứ vũ khí lợi hại của chú ta đấy. Mỗi sáng sớm thức dậy chú ta luôn là người <u><i><b>đánh thức mọi người</b></i></u> dậy bằng <u><i><b>điệu gáy ò ó o</b></i></u> của mình.</p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>một chú gà trống</b></p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
        <div class="doan-van-da-sua" id="dvds4">
            <div class="doan-van-sai">
                <p>&emsp;Chị có tổng cộng <i><u><b>72 trang</b></u></i>, từng trang lại có <i><u><b>rất nhiều dòng kẻ</b></u></i>. Mỗi ngày đến lớp, lúc đến giờ chính tả, <i><u><b>em lật nhẹ từng trang</b></u></i> để khỏi làm đau chị. Em <i><u><b>nắn nót viêt từng chữ, từng hàng chữ</b></u></i> đều đặn hiện ra trên <i><u><b>trang giấy trắng tinh của chị</b></u></i> làm chị vui mừng khôn xiết. Về nhà, em đặt chị lên cái bàn sạch bóng trong phòng học. Chị dịu dàng nhìn em cười như muốn cám ơn em. Lúc nào, em cũng có cảm giác như chị đang nói với em: "Hãy cố gắng học thật giỏi bé yêu của chị". Nghe lời chị, em tặng chị thật nhiều điểm mười đỏ chót, chị mừng lắm.</p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>quyển vở</b> nên bạn chọn đáp án này là sai</p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
        <div class="doan-van-da-sua" id="dvds5">
            <div class="doan-van-sai">
                <p>&emsp;Bên ngoài anh mặc chiếc áo đã sờn màu, đôi chỗ bị xước nữa. <i><u><b>Mình anh to tròn</b></u></i>, mập mạp rất đáng yêu tưởng như muốn đi đâu anh ta cũng phải lăn trên mặt đất. Thân anh được <i><u><b>làm từ nhiều miếng gỗ ghép</b></u></i> lại bằng những cái đinh rất to. Hai mặt anh <i><u><b>được làm từ da trâu</b></u></i> đã thuộc, sờ tay lên thấy sần sùi. Hai vành anh màu xám như hai con rắn nằm bất động nom khá hung dữ. <i><u><b>Nằm cạnh anh là bé dùi</b></u></i> trông nhỏ nhắn nhưng khi <i><u><b>đánh lại vang</b></u></i> những tiếng rất dõng dạc. Anh anh là <i><u><b>bạn của tất cả học trò</b></u></i>. Mỗi buổi sáng, <i><u><b>tiếng gọi giục giã của anh báo hiệu</b></u></i> cho chúng em xếp hàng vào lớp.</p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>chiếc trống trường</b></p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
        <div class="doan-van-da-sua" id="dvds6">
            <div class="doan-van-sai">
                <p>&emsp;Không còn những cơn mưa xuân ấm áp ấy là lúc ta biết nàng Xuân duyên dáng, dịu dàng đã đi qua, thay vào đó là <i><u><b>nàng Hạ nhí nhảnh</b></u></i>, tươi vui. Hạ đến <i><u><b>từ tháng 4 và sẽ nhường chỗ cho nàng Thu qua tháng 6</b></u></i>. <i><u><b>Mùa hạ về với bầu trời</b></u></i> xanh ngắt, những đám mây trắng trong và những <i><u><b>tia nắng mặt trời vàng tươi</b></u></i> rực rỡ, mang lại nguồn sống dồi dào căng tràn cho muôn loài. Khắp các phố phường, <i><u><b>hoa phượng nở</b></u></i> đỏ rực, <i><u><b>ve kêu râm ran</b></u></i> hòa tấu những giai điệu vui tươi, rộn rã. <i><u><b>Bức tranh mùa hè</b></u></i> thật đẹp và rực rỡ!</p>
                <br><p>Vậy là qua những từ nổi bật trên ta thấy rõ ràng đoạn văn tả <b>mùa hạ</b> nên bạn chọn đáp án này là sai</p>
                <div class="chuyen-huong">
                    <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
                    <a href="./lv2.html"><img src="../../images/lam_van/reload.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>