<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/kiemtra.css">
    <script src="../../js/kiem_tra.js"></script>
</head>
<body>
    <div class="dau-trang">
        <div class="chuyen-huong">
            <a href="../../index.html"><img src="../../images/lam_van/home.png"></a>
        </div>
        <div class="kiem-tra">
           <ul>
                <li id="bat-dau"><a href="#">Bắt đầu</a></li>
                <li id="nop-bai"><a href="#">Nộp bài</a></li>
                <li class="lam-lai"><a href="./kttn.html">Làm lại</a></li>
           </ul>
        </div>
        <div class="dong-ho">
            <span id="m">20</span> <span>:</span> <span id="s">00</span>
        </div>
    </div>
    <div class="giua-trang">
        <div class="cau-1">
            <div class="hoi-1">
                <span>Câu 1: Điền vào chỗ trống:</span>
                <p>...của tôi có bốn người: bố, mẹ, anh trai và tôi.</p>
            </div>
        </div>
    </div>
</body>
</html>